/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
input,
button,
textarea,
select {
  font: inherit;
}

/* global styles */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    Arial, sans-serif;
}
code,
pre {
  font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 0px 4px;
}
pre {
  border-radius: 8px;
  padding: 4px 8px;
  white-space: pre-wrap;
}
a {
  color: hsl(16deg, 100%, 43%);
}
button,
.button {
  color: currentColor;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  background: none;
  padding: 4px 8px;
  border: 2px solid currentColor;
  border-radius: 99999px;
}
button:focus-visible,
.button:focus-visible {
  outline: 2px solid hsl(16deg, 100%, 57%);
}
/* https://css-tricks.com/the-focus-visible-trick/ */
button:focus:not(:focus-visible) {
  outline: none;
}
